/* Full layout Margin zero */
*
{
 margin: 0;
}




/* Body Section */
body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}






/* header section Start */


header
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 645px;
    
}

.header-section
{
    display: flex;
    background-color: black;
    
    border: 1px solid black;
    border-radius: 20px;
    
   
    
}


.header-section-left-div
{
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 105px;
    margin-right: 23px;
    width: 50%;
  
    

}

.header-section-left-div h1
{
    color: white;
    font-size: 2.7vw;
}

.header-section-left-div p
{
    color: white;
    font-size: 1.4vw;
    font-weight: 400;
     
}

.watch-live-button
{   
   
    position: relative;
    text-decoration: none;
    background-color: rgb(255, 14, 14);
    padding: 1vw 2vw;
    top: 30px;
    color: white;
    border-radius: 3px;
    
}


.header-section-right-div
{
    
    margin-right: 55px;
    margin-left: 24px;
    
}





.header-section-right-div img
{
    height: 100%;
    width: 100%;
}

/* header Section End */



/*-------------------
 Main Section Start
 -------------------*/

main
{
    display: flex;
    width: 85%;
    margin-top: 100px;
    background-color: red;
    
}


/* Main Aside Left Menu Section*/

aside
{
    background-color: black;
    width: 25%;
    height: 25%;
}

.menu-div
{
    display: flex;
    flex-direction: column; 
    
}

.menu-div a
{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left:30px;
    margin-right: 30px;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    border-radius: 10px;
    font-size: 20px;
    
    background-color: tomato;


}



/* main right side article section */


.articles-parent-section
{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3,1fr);
    
}


.article-child-div
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
  
    
}

.article-transfer-button
{
    
    margin-top: 5px;
    width: 60px;
    

}

.article-child-div p
{
    margin-top: 10px;
}

.article-child-div span
{
    margin: 10px;
}


#icon-1
{
    margin-left: 10px;
}
#icon-2
{
    margin-left: 10px;
}


.article-child-div img
{
    width: 100%;
}

.article-transfer-button
{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}



/* Footer Section Start */
footer
{
    background-color: darkgrey;
    text-align: center;
    width: 100%;
}

.footer-menu-link
{
    text-decoration: none;
    margin: 5px;
}
