
/* Full layout Margin zero */
*
{
 margin: 0;
}


/* Body Section */
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}









/* header section Start */


header
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.header-section
{
    display: flex;
    background-color: black;
    
    border: 1px solid black;
    border-radius: 20px;
    width: 80%;
    
}


.header-section-left-div
{
    margin: 20px;
}

.header-section-left-div h1
{
    color: white;
    font-size: 40px;
}

.header-section-left-div p
{
    color: white;
}

.watch-live-button
{   
    position: relative;
    text-decoration: none;
    background-color: rgb(255, 14, 14);
    padding: 10px 20px;
    top: 10px;
    color: white;
    border-radius: 2px;
}

/* header Section End */



/*-------------------
 Main Section Start
 -------------------*/

main
{
    display: flex;
    background-color: antiquewhite;
    width: 80%;
    margin-top: 100px;
    
}


/* Main Aside Left Menu Section*/

aside
{
    background-color: black;
    width: 40%;
    height: 150px;
}

.menu-div
{
    display: flex;
    flex-direction: column;
}

.menu-div a
{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    text-align: center;
    padding: 10px 20px ;
    background-color: tomato;


}



/* main right side article section */


.articles-parent-section
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}


.article-child-div
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
  
    
}

.article-transfer-button
{
    
    margin-top: 5px;
    width: 60px;
    

}

.article-child-div p
{
    margin-top: 10px;
}

.article-child-div span
{
    margin: 10px;
}


#icon-1
{
    margin-left: 10px;
}
#icon-2
{
    margin-left: 10px;
}


.article-child-div img
{
    width: 100%;
}

.article-transfer-button
{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}



/* Footer Section Start */
footer
{
    background-color: darkgrey;
    width: 80%;
    text-align: center;
}

.footer-menu-link
{
    text-decoration: none;
    margin: 5px;
}
