
/* =========================
Screen wise Responsive 
============================*/

/* Media Query for Mobile Devices */
@media (max-width: 575px) 
{
body {
        
display: flex;
justify-content: center;
margin-left: 0px;
margin-right: 0px;
width: 100%;
text-align: center;
justify-content: center;      
}



header 
{
position: relative;        
margin-top: 30px;
display: flex;
width: auto;
height: auto;
        
}

    

.header-section
{
    
display: flex;
flex-direction: column;
height: 530px;
width: 100%;
width: 85%;

position: relative;

}



.header-section-left-div
{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-bottom: 120px;
    
}


.header-section-left-div h1
{
    font-size: 1.467em;
    text-align: center;
    margin-left: 53px;
    margin-right: 53px;
    margin-top: 100px;
    
   
}

.header-section-left-div p
{
    position: relative;
    font-size: 0.933em;
    margin: 5px 30px;
    top:10px;
    font-weight: 200;
    margin-bottom: 0px;
    
    
}


.watch-live-button
{
    padding: 12px 12px;
    width: 160px;
    font-weight: 600;
    font-size: 1.3em;
}





.header-section-right-div
{
    
    width: 100%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 85px;
}


.header-section-right-div img
{
    height: 245px;
    width: 233;
}





/* Article Section */

main 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;

}



.main-left--aside-section
{
    height: auto;
    margin-bottom: 25px;
}



.menu-div
{

    margin-top: 0;

}




/* Button Section start */


#up-coming-match-button
{
    border: 1px solid rgba(0, 0, 0, 0.332);
    
    margin-top: 0px;
    border-radius: 10px;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

#all-group-button
{
    
    border: 1px solid rgba(0, 0, 0, 0.332);
    margin-top: 25px;
 

    border-radius: 10px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    
}
#blog-button
{
    
    border: 1px solid rgba(0, 0, 0, 0.332);
    margin-top: 25px;

    border-radius: 10px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;

    
}
/* Button Section End */







.articles-parent-section
{

    display: grid;
    width: 90%;
    grid-template-columns: repeat(1, 1fr)
}



.article-transfer-button
{
    width: 4.9em;
    height: 1.5em;
}

.article-child-div h4
{
    
    margin-top: 10px;
    font-size: 1.4em;
}

/*
Article Section End
*/






/* Footer Nav Menu */


footer h1 
{
    margin-top: 30px;
    font-size: 22px;
}



footer hr 
{
    margin-top: 30px;
}



footer nav{
   
    width: 50%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    

}

.footer-menu-section-tab
{
    display: none;
}





/* Main section left div aside */
aside
{
    background-color: #00000000;
    border-radius: 15px;
    width: 312px;
    height: 312px;
}






/* Footer icons */

.footer-icons
{

    width: 40%;
    padding-bottom: 10px;
}


.footer-icons i 
{
    font-size: 25px;
}




}



/* For Galaxy Fold Device */
@media (max-width: 280px) 
{

   

    .header-section-right-div img

    {
        position:relative;
        top:100px;
        width: 150px;
        height: 150px;
    }

}






  
/* Media Query for low resolution  Tablets, Ipads */
/* And */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 576px) and (max-width: 768px){



body {
    
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    
}



header 
{
position: relative;        
margin-top: 0px;
display: flex;
width: auto;
height: auto;


    
    
}





.header-section
{
margin-top: 55px;
display: flex;
height: 398px;
width: 100%;
width: 85%;

position: relative;






}



.header-section-left-div
{


display: flex;
flex-direction: column;
margin-left: 0px;
margin-right: 0px;
margin-top: 30px;
align-items: center;
text-align: center;
width: 100%;
height: 100px;
padding-bottom: 120px;

}


.header-section-left-div h1
{
font-size: 2.667em;
text-align: center;
margin-left: 53px;
margin-right: 53px;

}

.header-section-left-div p
{
font-size: 14px;
margin: 10px 35px;
height: 200px;

}


#live-button
{
display: flex;
align-items: center;
height: 20px;
position: relative;
bottom:200px;
top: 10px;
padding: 15px 50px;
font-weight: bold;
justify-content: space-evenly;
font-size: 20px;
white-space: nowrap;
}

#live-button i 
{
    margin-left: 10px;
}








.header-section-right-div
{


position: relative;
margin-top: 29px;
margin-bottom: 29px;
margin-right: 35px;
}



.header-section-right-div img
{
position: relative;
height: 100%;
}





/* Article Section */

main 
{
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
margin-top: 25px;
margin-bottom: 0px;


}



.main-left-aside-section
{
display: flex;
justify-content: center;
align-items: center;
height: auto;
width: 85%;
margin-bottom: 25px;
background-color: rgba(255, 0, 0, 0);
}




.menu-div
{

display: flex;
justify-content: center;
align-items: center;
margin-top: 0;
display: flex;
justify-content: space-between;
flex-direction: row;
padding:auto;
width: 100%;



}





/* Left Button Section */

#up-coming-match-button
{
border: 1px solid rgba(0, 0, 0, 0.332);


border-radius: 10px;
width: 30.33%;
padding-top: 20px;
padding-bottom: 20px;
background-color: rgb(255, 255, 255);
margin: 0px;
}   

#all-group-button
{

border: 1px solid rgba(0, 0, 0, 0.332);


border-radius: 10px;
width: 30.33%;
padding-top: 20px;
padding-bottom: 20px;
background-color: rgb(255, 255, 255);
margin: 0px;

}
#blog-button
{

border: 1px solid rgba(0, 0, 0, 0.332);


border-radius: 10px;
width: 30.33%;
padding-top: 20px;
padding-bottom: 20px;
margin: 0px;


}




.articles-parent-section
{
text-align: left;
width: 88%;
display: grid;
grid-template-columns: repeat(2, 1fr)


}


.article-transfer-button
{
    width: 5em;
    height: 1.4em;
    margin-bottom: 0.4em;
}

.articles-parent-section h4
{
    font-size: 1.5em;
    text-align: left;
}


/*
Article Section End
*/


/* View All Button */
.view-all-button
{
display: block;
border-radius: 5px;
font-size: 20px;
font-weight: 600;
background-color: red;
border: none;
margin-top: 20px;
margin-bottom: 20px;
padding: 12px 33px;
color: white;
}



/* Footer Nav Menu */

footer h1 
{
margin-top: 30px;
font-size: 22px;
}



footer hr 
{
margin-top: 30px;
}



.footer-menu-section{

display: none;


}


.footer-menu-section-tab
{
width: 70%;
height: 10%;
margin-top: 30px;
display: flex;
justify-content:center;
align-items: center;
flex-wrap: wrap;

}

.footer-menu-section-tab a 
{

margin-left: 10px;
margin-right: 10px;
}











/* Footer icons */

.footer-icons
{

width: 40%;
padding-bottom: 10px;
}


.footer-icons i 
{
font-size: 25px;
}

}



/* Small Screen Laptop and desktop */
@media (min-width: 769px) and (max-width: 1200px)
{



header 
{
position: relative;        
margin-top: 30px;
display: flex;
width: auto;
height: auto;


    
    
}





.header-section
{
margin-top: 55px;
display: flex;
height: 398px;
width: 100%;
width: 90%;

position: relative;






}



.header-section-left-div
{


display: flex;
flex-direction: column;
margin-left: 0px;
margin-right: 0px;
margin-top: 30px;
align-items: center;
text-align: center;
width: 100%;
height: 100px;
padding-bottom: 120px;

}


.header-section-left-div h1
{
font-size: 2.667em;
text-align: center;
margin-left: 53px;
margin-right: 53px;

}

.header-section-left-div p
{
font-size: 14px;
margin: 10px 35px;
height: 200px;

}


#live-button
{
display: flex;
align-items: center;
height: 20px;
position: relative;
bottom:200px;
top: 10px;
padding: 15px 50px;
font-weight: bold;
justify-content: space-evenly;
font-size: 20px;
white-space: nowrap;
}

#live-button i 
{
    margin-left: 10px;
}








.header-section-right-div
{


position: relative;
margin-top: 29px;
margin-bottom: 29px;
margin-right: 35px;
}



.header-section-right-div img
{
position: relative;
height: 100%;
}






main 
{
    
 
    display: grid;
    width: 90%;
    grid-template-columns: 250px 1fr;
}



main h1
{
    font-size: 18px;
    font-weight: bold;
}

main p
{
    font-weight: bold;
}






.articles-parent-section
{
    height: 100%;
    width: 100%;
    display: grid;grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    
}









.article-child-div
{

    height: 100%;
    text-align: center;
    


}



.article-transfer-button
{

    border: 1px solid black;
    border-radius: 2px;
    position: relative;
    width: 40px;
    height: 10px;
    font-size: 0.8em;
    bottom: 0.3em;
}


.article-child-div h4 
{
   

    width: 100%;
    font-size: 1.1em;
   
}

#icon-1
{
    font-size: 0.9em;
}
#icon-2
{
    font-size: 0.9em;
}



.footer-menu-section
{
    display: none;
}



}




/* Large Device*/
@media (min-width: 1201px)
{   

  
    main 
    {   
        
        margin-bottom: 50px;

    }

    .articles-parent-section
    {
        row-gap: 60px;
    }


    .article-transfer-button
    {
        width: 6em;
        height: 1.5em;
        font-size: 1.5em;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .article-child-div h4  
    {
        font-size: 2.3em;
    }

    #icon-1
    {
        font-size: 2em;
    }
    #icon-2
    {
        font-size: 2em;
    }


    .footer-menu-section
    {
        margin-bottom: 40px;
    }
    .footer-menu-section-tab
    {
        display: none;
    }
}


