
  
/* Media Query for low resolution  Tablets, Ipads */
  /* And */
/* Media Query for Tablets Ipads portrait mode */




@media (min-width: 576px) and (max-width: 1024px){

     
    
    body {
        
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        justify-content: center;
        background-color: rgba(237, 235, 235, 0.16);
        
        
    }





    header 
    {
    position: relative;        
    margin-top: 30px;
    display: flex;
    width: auto;
    height: auto;   
        
    }



    

.header-section
{
margin-top: 55px;
display: flex;
height: 398px;
width: 100%;
width: 85%;

position: relative;






}



.header-section-left-div
{

  
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-bottom: 120px;
    
}


.header-section-left-div h1
{
    font-size: 22px;
    text-align: center;
    margin-left: 53px;
    margin-right: 53px;
   
}

.header-section-left-div p
{
    font-size: 14px;
    margin: 10px 35px;
    
    
}


.watch-live-button
{
    padding: 10px 20px;
    font-weight: bold;
}



.header-section-right-div
{
    
 
    position: relative;
    margin-top: 29px;
    margin-bottom: 29px;
    margin-right: 35px;
}



.header-section-right-div img
{
    position: relative;
    height: 100%;
}








main 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0px;


}



.main-left-aside-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 85%;
    margin-bottom: 25px;
    background-color: rgba(255, 0, 0, 0);
}




.menu-div
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:auto;
    width: 100%;
  
    

}







#up-coming-match-button
{
    border: 1px solid rgba(0, 0, 0, 0.332);
    
   
    border-radius: 10px;
    width: 30.33%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:tomato;
    margin: 0px;
}   

#all-group-button
{
    
    border: 1px solid rgba(0, 0, 0, 0.332);
    
    
    border-radius: 10px;
    width: 30.33%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    
}
#blog-button
{
    
    border: 1px solid rgba(0, 0, 0, 0.332);
    
    
    border-radius: 10px;
    width: 30.33%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    background-color: white;
    
    
}




.articles-parent-section
{   
    
    text-align: left;
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
    
}

.article-child-div
{
  
    height: 242px;
    text-align: center;



}

.article-flag-div-inside-child-div
{

    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;

}


#flag-right
{
    position: relative;
    right: 10px;
}



#flag-left
{
    position: relative;
    left: 10px;
}



.article-flag-div-inside-child-div img 
{
    width: 100px;
    height: 60px;
    position: relative;
    
}


.article-flag-div-inside-child-div p 
{
    font-weight: bolder;
    font-size: 25px;
}









/* Footer Section */

footer h1 
{
    margin-top: 30px;
    font-size: 22px;
}



footer hr 
{
    margin-top: 30px;
}



.footer-menu-section{
   
    display: none;


}


.footer-menu-section-tab
{
    width: 70%;
    height: 10%;
    margin-top: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
 
}

.footer-menu-section-tab a 
{

    margin-left: 10px;
    margin-right: 10px;
}







.footer-icons
{

    width: 40%;
    padding-bottom: 10px;
}


.footer-icons i 
{
    font-size: 25px;
}

}
  



